.output{
    &__window{
        display: none;
        position: relative;
        background-color: white;
        border-radius: 31px;
        width: 500px;
        min-height: 300px;
        max-height: 410px;
        padding: 20px;
        margin-top: 13px;
        @include TransitionMix(1s);
    }
    &__text{
        width: 100%;
        overflow: overlay;
        color: $mainColor;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 20px;
       
        &_clear{
            position: absolute;
            bottom: -40px;
            right: 5px;

            outline: none;
            border-radius: 31px;
            border: none;
            background-color:white;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: $textColor;
            @include TransitionMix(100ms);
            &:active{
                box-shadow: inset 4px 3px 10px rgba(0,0,0,.5);
            }
        }
    }
}
