.select__form{
    position: absolute;
    top: 133px;
    left: 156px;
}
.select{
    border: none; 
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    option{
        color: black;
    }
}